
<div class="content">
    <div class="icon" (click)="onClick()">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div  ngClass="{{class}}" >
        <div class="menu-link">
            <a routerLink="electronics">electronics</a>
        <a routerLink="jewelery">jewelery</a>
        <a routerLink="men-clothing">men's clothing</a>
        <a routerLink="women-clothing">women's clothing</a>
        </div>
        <p class="basket" ><a routerLink="basket"><i class="fa-solid fa-cart-shopping"></i></a></p>
    </div>
</div>
